$color-primary: #f4f4f4;
$color-primary-contrast: #db3b1d;
$color-primary-light: #fdf6f2;
$color-primary-light-s: #ffffff;
$color-attantion: #ff9b3f;
$color-warning: #db3b1d;
$color-light-s: #fafafa;
$color-light-l: #cdcdcd;
$color-light-xl: #ffffff;

$color-dark-s: #cdcdcd;
$color-dark-l: #919191;
$color-dark-xl: #292929;
$color-dark-xxl: #000000;
$color-dark-overlay: rgba(41, 41, 41, 0.6);

$bg-light:#E5E5E5;
$bg-light-s: #f6f6f6;
$bg-light-l: #fafafa;
$bg-ligth-xl: #ffffff;

$bg-card-s: #fdf6f2;
$bg-card-l: #ffc895;
$bg-card-xl: #ff755b;

$content-width: 1200px;
$tablet-width: 768px;
$mobile-width: 376px;
